body{
    margin:0px;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#274140;
}

/**--------------------------------------
HEADER
------------------------------------*/

/**--------------------------------------
SECTIONS
------------------------------------*/



/**--------------------------------------
FOOTER
------------------------------------*/
footer{
	text-align: center;
	color:white;
}

footer a{
	color:white;
}

footer a:hover{
	color:burlywood;
}

footer p{
	font-family: Raleway;
}