body{
    margin:0px;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#274140;
}

/**--------------------------------------
HEADER
------------------------------------*/
header h2{
	font-size: 35px;
	color:white;
	font-family: Poiret One;
	text-align: center;
}

.underline{
	width:20%;
}
/**--------------------------------------
SECTIONS
------------------------------------*/
.Settings{
	text-align: center;
	margin:20px;
	padding:25px;
}

.description,
.control,
.v{
	color:white;
	font-weight: 800;
	font-family: Poiret One;
	font-size: 20px;
}

.control{
	 font-size: 33px;
  cursor: pointer;
}

.control:hover{
	color:firebrick;
}

/*Pomodoro clock settings*/
.fill{
 width: 100%;
  height: 0%;
  position: absolute;
}

/*style for when the pomodoro clock fills*/
.fill.session{
  bottom: 0;
  z-index: 2;
  background-color: #2ecc71;
	clear: both;
  border-radius: 50%;
}

/*style for when the clock hits a break*/
.fill.break{
  top: 0;
  z-index: 3;
	clear: both;
  border-radius: 50%;	
  background-color: #c0392b;
}

/*style for displaying the time left*/
.time-left{
  top: 60%;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  text-align: center;
  font-size: 60px;
  z-index: 4;
  position: absolute;	
}

/*play button*/
.status{
  left: 50%;
  margin-left: -125px;
  width: 250px;
  text-align: center;
  font-size: 15px;
  z-index: 4;
  position: absolute;
}

.pomodoro-btns:hover{
	color:wheat;
	cursor: crosshair;
}

.pomodoro-btns{
	text-align: center;
	color:white;
	padding:5px;
	margin:20px;
	font-family: Poiret One;
}

/**--------------------------------------
FOOTER
------------------------------------*/
footer{
	text-align: center;
	color:white;
}

footer a{
	color:wheat;
}

footer a:hover{
	color:burlywood;
}

footer p{
	font-family: Raleway;
}