body{
    margin:0px;
  color: #FFF;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#274140;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
