body{
    margin:0px;
  color: #FFF;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#274140;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}


.clock {
  text-shadow: 0px 1px 1px #191919;
  cursor: default;
  width: 450px;
  margin: auto;
  display: block;
  position: relative;
}
.clock .title {
  padding-top: 10px;
  width: 100%;
  font-weight: 600;
  text-align: center;
  font-size: 45px;
  padding-bottom: 15px;
}
.clock .settings {
  width: 350px;
  padding-bottom: 15px;
  display: table;
  margin: auto;
  position: relative;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.clock .settings .description {
  font-size: 15px;
}
.clock .settings .value {
  font-size: 30px;
}
.clock .settings .session {
  width: 108px;
  float: right;
}
.clock .settings .session .description {
	font-size: 25px;
	color: #2ecc71;
}
.clock .settings .break {
  width: 100px;
  float: left;
}
.clock .settings .break .description {
  color: #e74c3c;
	font-size: 25px;
}
.clock .settings .control {
  font-size: 33px;
  cursor: pointer;
}
.clock .settings .control:hover {
  color: #95a5a6;
}
.clock .next-pomodoro {
  margin-left: 30px;
  float: left;
  cursor: pointer;
  font-weight: bold;
}
.clock .reset-pomodoro {
  margin-right: 30px;
  float: right;
  cursor: pointer;
  font-weight: bold;
}
.clock .pomodoro {
  cursor: pointer;
  width: 300px;
  height: 300px;
  margin: auto;
  clear: both;
  border-radius: 50%;
  border: 3px #2ecc71 solid;
  position: relative;
  overflow: hidden;
  text-shadow: none;
}
.clock .pomodoro .fill {
  width: 100%;
  height: 0%;
  position: absolute;
  left: 0;
}
.clock .pomodoro .fill.session {
  bottom: 0;
  z-index: 2;
  background-color: #2ecc71;
}
.clock .pomodoro .fill.break {
  top: 0;
  z-index: 3;
  background-color: #c0392b;
}
.clock .pomodoro .time-left {
  top: 32%;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  text-align: center;
  font-size: 60px;
  z-index: 4;
  position: absolute;
}
.clock .pomodoro .status {
  bottom: 35%;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  text-align: center;
  font-size: 15px;
  z-index: 4;
  position: absolute;
}

.footer {
  clear: both;
  width: 100%;
	padding-top: 50px;
  font-size: 22px;
  text-align: center;
}
.footer a {
  color: #2ecc71;
  text-decoration: none;
  font-weight: 600;
}

.footer a:hover{
	color:chocolate;
	transition:2s color;
}

.footer a:hover::after{
	content:"]";
	transition: 2s content;
}

.footer a:hover::before{
	content:'[';
	transition: 2s content;
}